/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/* Font */

@font-face {
  font-family: Tungsten_Bold;
  src: url(../fonts/Tungsten_Bold.woff);
}

html{
  font-family: Tungsten_Bold !important;
}
/* -----Homepage Css----- */

/* Text Hider */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

/* Video Section */

#ColumnFirst {
  height: 41.3vw;
}

#videoMain {
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

#videoMain video {
  width: 100%;
  position: absolute;
}

#agent_BackgroundVideo {
  z-index: 1;
}

#background_Video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.svgMain {
  fill: currentColor;
  max-width: none;
  margin: 0 auto;
  display: block;
  position: relative;
  width: 42em;
  filter: drop-shadow(0 0 .75em rgba(0, 0, 0, .3));
}

.svgMain svg {
  display: block;
  height: 100%;
  width: 100%;
}

#mainText {
  position: relative;
  color: #ece8e1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  text-align: center;
  margin-top: 3.5rem;
}

#mainText p {
  margin: 0 0 2rem;
  text-shadow: 0 0 0.75em rgba(0, 0, 0, .5);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

#titleSubText {
  font-size: 2rem !important;
}

.textWrapper {
  height: auto;
  width: 100%;
  max-width: 123rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  min-height: 35vw;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 5%;
}



/* Section Colors */
.section.light {
  background-color: #ece8e1;
  height: auto;
}

.section.red {
  background-color: #ff4655;
  height: auto;
}

.section img {
  width: 389px;
  height: 219px;
}

/* Buttons makes use of css variables within the*/

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;

  /* Color variables for the button */
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #0f1923;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);

  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
  margin-top: 5rem;
}

.btn::before,
.btn::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all .15s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}

.btn__inner {
  position: relative;
  display: block;
  padding: 1rem 5rem;
  background-color: #ff4655;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.btn__inner::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.btn__inner_2 {
  position: relative;
  display: block;
  padding: 1rem 5rem;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner_2::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.btn__inner_2::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-background-color);
  transition: all .2s ease;
}

.btn__slide {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btn__content {
  position: relative;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
  background-color: var(--button-bits-color-hover);
}

.btn--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}

/* Background Text (The We Are Valorant Text on the background at the news section) */

.backgroundText_Div {
  height: 3%;
  width: 100%;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Media nodig voor background desktop */
@media (min-width: 1520px) {
  .background_Text {
    margin-left: 1em;
    transform: translateY(-6px);
    -webkit-text-stroke-color: #dbd8d2;
    padding: 0;
    line-height: 20rem;
    font-size: 27rem;
  }

  #we_Are_Text {
    margin-left: -205px;
  }

  #valorant_Text {
    margin-left: 120px;
    overflow: hidden;
  }

  #place_Text {
    margin-left: -205px;
    margin-top: 1550px;
  }
}

.background_Text>span {
  display: block;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dbd8d2;
}


/* News Section */

#latest_News {
  position: relative;
  padding-top: 10em;
  padding-left: 10%;
  padding-bottom: 10em;
}

#latest_Text {
  color: #ff4655;
  display: inline-block;
  transition: transform .65s cubic-bezier(.25, .46, .45, .94);
  width: 500px;
  z-index: 1;
  font-size: 6rem;
  line-height: .86;
  font-weight: bold;
  margin-bottom: 15px;
}

#sidebar_News {
  margin: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #ff4655;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.15;
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin-top: 0px;
  margin-right: 20%;
}

#arrowIcon {
  transition: transform .3s ease-out;
  transform: translateX(0) rotate(0deg);
  height: 2rem;
  width: 2rem;
  display: inline-block;
  pointer-events: none;
  text-align: left;
  margin-top: 5px;
  margin-left: 10px;

}

.news_Articles {
  display: flex;
}

.article_Css {
  width: 421px;
  padding-right: 2.5%;
}

.article_Info {
  font-size: 24px;
}

/* Defy Limits */

#defy_Header {
  font-size: 7em;
  padding-left: 3.5em;
  padding-top: 1em;
  color: #0f1923;
}

/* Agents section */
#agents_Image {
  height: 800px;
  width: 100%;
}

#agents_Position {
  width: 1000px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 0px;
}

#agents_Text {
  margin-top: 50px;
}

/* #agents_Text h2::content{
  transform: translateY(115%);
} */

#agents_Text h2 {
  color: white;
  display: inline-block;
  transition: transform .65s cubic-bezier(.25, .46, .45, .94);
  font-size: 7rem;
  line-height: 7rem;
  margin-bottom: 50px;
}

#agents_Text h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#agents_Text p {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Maps Section */

#maps_Position {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  height: 800px;
}

#maps_Text {
  position: relative;
  z-index: 1;
  margin: 100px 20% 0px;
}


#maps_Text h2 {
  color: #0f1923;
  display: inline-block;
  transition: transform .65s cubic-bezier(.25, .46, .45, .94);
  font-size: 7rem;
  line-height: 7rem;
  margin-bottom: 50px;
  width: 525px;
}

#maps_Text h3 {
  color: #0f1923;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#maps_Text p {
  color: #0f1923;
  font-size: 1.5rem;
  line-height: 1.5;
  width: 410px;
}

#maps_Text button {
  color: white;
}

#maps_background {
  position: absolute;
  z-index: 0;
  height: 875px;
  max-height: 88rem;
  width: 75%;
  margin-top: -95px;
  margin-left: 25%;
}

/* Animation */

h2 {
  animation: 400ms ease-in-out 500ms 1 slideInFromBottom backwards;
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* -----Agents Page----- */
#darkblue_Bg {
  background-color: #0f1923;
}

#intro_Position {
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
  height: 800px;
}

#agent_Name {
  color: #ff4655;
  font-size: 7em;
  padding-top: 2.42em;
  padding-left: 2.2em;
}

#yoru_Image {
  height: 100%;
  padding: 2% 10em;
}

#agent_Role {
  margin-left: -20em;
  margin-top: 8em;
  color: #ece8e1;
  
}

#duelist_Tag {
  height: 50px;
  width: 50px;
}

#agentrole_Text {
  font-size: 2em;
}

#agent_RoleText {
  font-size: 4em;
  margin: 0.2em 0;
  animation: 400ms ease-in-out 500ms 1 slideInFromBottom backwards;
}

#agent_BioTitle {
  font-size: 2em;
}

#agent_BioText {
  font-size: 1.7em;
  width: 440px;
  margin-top: 1em;
  animation: 400ms ease-in-out 500ms 1 slideInFromBottom backwards;
}

/* Footer Section */
footer {
  background-color: #111111;
  border-top: 2px solid rgba(51, 51, 51, 0.25);
  color: #7E7E7E;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

footer a {
  display: block;
  margin: 0 16px;
  padding: 0px;
  color: #7E7E7E;
  transition: all 0.2s linear;
}

footer #riotbar-footer-links {
  color: #7E7E7E;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.riotbar-social-links ul li a {
  display: block;
  margin: 4px;
  overflow: hidden;
  text-decoration: none;
  opacity: 0.3;
  transition: opacity 0.2s linear;
  cursor: pointer;
  background-color: transparent;
}

.riotbar-social-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

.riotbar-social-links ul li {
  margin-left: 10px;
  margin-right: 10px;
}

.riotbar-social-links ul li a.link-social svg {
  width: 24px;
  height: 24px
}

.riotbar-social-links ul li a .image-alt-text {
  display: inline-block;
  width: 0;
}

.riotbar-social-links ul li a .image-alt-text {
  opacity: 0;
  user-select: none;
  color: transparent;
  text-decoration: none;
}

.riotbar-copyright {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.316;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  color: #7E7E7E;
  transition: color 0.2s linear;
  word-break: keep-all;
}

.riotbar-game-ratings {
  user-select: none;
  box-sizing: border-box;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.riotbar-game-ratings .riotbar-game-rating {
  margin: 0 10px;
  max-width: 100%;
}

.riotbar-game-ratings .riotbar-game-rating-text-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.riotbar-game-ratings .riotbar-game-rating-logo {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  margin: 5px 0;
  max-width: 100%;
}

.riotbar-game-ratings .riotbar-game-rating-logo img {
  max-width: 100%;
}

.riotbar-game-ratings .riotbar-game-rating-text {
  display: inline-block;
  text-align: left;
  color: #efefef;
  margin-left: 6px;
  line-height: 19px;
  font-size: 1.2rem;
}

footer #riotbar-footer-links:hover {
  color: #F9F9F9;
}

footer .riotbar-social-links ul li a:hover {
  color: #F9F9F9;
}

footer .riotbar-game-ratings {
  color: #efefef;
}

.riotbar-footer-content {
  padding: 1px 5px 175px;
}

.riotbar-footer-content div.spacing {
  margin: 40px auto;
}

.riotbar-legal-links a {
  margin: 0 5px;
  font-size: 1.2rem;
}